html{
    font-size: 62.5%;
}

body{
    margin: 0%;
    font-family:'Avenir';
    background-color:rgb(197, 228, 247); ;
}

.wrapper {
max-width: 1400px;
margin: 0 auto;
background-color: rgb(197, 228, 247);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    margin: 4em;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 4.1em; 
    margin: 0;
    white-space: nowrap;

}

nav a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.nav-container {
    width: 100%;
    overflow-x: auto;
  }

.prof{
    text-decoration: none;
    color: rgb(9, 86, 148);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: none;
    margin-top: -2%;
    
}
.prof-parent {
    text-decoration: none;
  }

main{
    display: block;
    margin-top: 11em;
}

.firstpart{
    display:flex;
    justify-content: center;
    gap: 8em;
}

.leftcol{
    width: 55%;
    align-items: center;
    
    justify-content:center;
  
}

.middle1{
    display: flex;
    align-items: center;
    
    justify-content:center;
 
}


.middlesec1{
    width: 50%;
    
}

.middlesec2{
    width: 50%;
    margin-top: -2%;
    text-align: center;

    
}

.middle2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.middlesec11{
    background-color:  rgb(146, 204, 241);
    margin-right: 7%;
    border-radius: 7%;
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.midwhite1{
text-align: center;
}

.aquagenic1{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-top: -10%;
}

.aquagenic2{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: -13%;
}

.aquagenic3{
    font-size: 1rem;
    font-weight: normal;
    color: black;
    margin-top: -2%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.midwhite2{
    text-align: center;
}

.middlesec22{
    background-color:  rgb(146, 204, 241);
    border-radius: 7%;
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.finalpart1{
   display: flex;
    align-items: center;
    background-color: rgb(9, 86, 148);
    color: white;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-left: -2%;
    margin-right: -2%;
}

.finalpart2{
    display:flex;
     align-items: center;
     background-color: rgb(9, 86, 148);
     color: white;
     justify-content: center;
     margin-left: -2%;
    margin-right: -2%;
 }

h1{
    font-size: 6rem;
    font-weight: bold;
    color: rgb(9, 86, 148);
    text-transform: uppercase;
    
}

h3{
    font-size: 3rem;
    font-weight:500;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: -7%;
    
}

h2{
    font-size: 4rem;
    font-weight: bold;
    color: rgb(9, 86, 148);
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;

}

h4{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: -10%;
    
}

h5{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: -7%;
    
}

.subhead1{
    font-size: 1.8rem;
    margin-top: -5%;
}

.subhead2{
    font-size: 1.6rem;
    margin-top: -3%;
    
    
}

.subhead3{
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 5%;
    text-decoration: none;
    
}

.rightcoll {
    width: 250px;
    margin-top: 5%;
    padding: 20px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
   
  }
  
.form-group {
    margin-bottom: 5px;
    position: relative;

  }
  
label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events:none;
    transition: 0.2s;
    color: gray;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    border: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;

}

input[type="text"]:focus ~ label,
input[type="email"]:focus ~ label,
textarea:focus ~ label,
input[type="text"]:valid ~ label,
input[type="email"]:valid ~ label,
textarea:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: black;
}

.btn {
    display: inline-block;
    padding: 10px 50px;
    background-color:  rgb(9, 86, 148);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}  

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 7%;
}
.btns{
    display: inline-block;
    padding: 15px 15px;
    background-color: white;
    color: black;
    border:none ;
    border-radius: none;
    cursor: pointer;
}  

.btns:not(:last-child) {
    border-right: none;
}

.btns:last-child {
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.btns:first-child {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}

.btns.clicked {
    background-color: rgb(9, 86, 148);
    color: white;
}

@media all and (max-width: 500px){
    header{
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        text-align: center;
    }

    nav{
        margin: 4em;
    }
    
    nav ul{
        list-style-type: none;
        display: flex;
        gap: 4.1em; 
        text-align:center;
        margin-left: -13%;
    
    }
    
    nav a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    .prof{
        text-decoration: none;
        color: rgb(9, 86, 148);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: -0.5%;
        text-transform: none;
        
        
    }

    .firstpart{
        display:block;
        justify-content: center;
        gap: 8em;
    }
    .leftcol{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content:center;
        margin-top: -10%;
      
    }
    .rightcol{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content:center;
    }

    .middle1{
        display: block;
        align-items: center;
        justify-content:center;
        width: 100%;
     
    }

    .middlesec1{
        width: 100%;
        
    }

    .middlesec1 img {
        width: 100%;
        height: auto;
      }
    
    .middlesec2{
        width: 100%;
        margin-left: 2%;
        margin-top: 5%;
        
        
    }
    .middle2{
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .middlesec11{
        background-color:  rgb(146, 204, 241);
        margin-right: 7%;
        border-radius: 7%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display:flex;
    }

    .middlesec22{
        background-color:  rgb(146, 204, 241);
        border-radius: 7%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: 5%;
        margin-bottom: 15%;
    }


    .finalpart1{
        display: block;
         align-items: center;
         background-color: rgb(9, 86, 148);
         color: white;
         justify-content: center;
         margin-top: 20%;
         margin-left: 0%;
         margin-right: -50%;
         margin-bottom: -10%;
         width: 100%;
         text-align:center;
         
     }

     .rightcoll {
        width: 250px;
        margin-top: 5%;
        padding: 20px;
        background-color: white;
        border-radius: 5%;
        text-align: center;
        margin-left: 15%;
       
      }
     
     .finalpart2{
         display:block;
          align-items: center;
          background-color: rgb(9, 86, 148);
          color: white;
          justify-content: center;
          margin-top: 10%;
          margin-left: -0%;
         margin-right: -50%;
         margin-bottom: -10%;
         width: 100%;
         text-align: center;
         
      }
     


}

